body {
  margin: 0;
  text-align: center;
  /* font-family: 'Merriweather', serif; */
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #5d5b5b;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #ffb79b;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffc3ac;
}

a {
  color: #6d6d6d;
}

hr {
  border-style: dotted none none;
  border-width: 8px;
  width: 5%;
  border-color: #5d5b5b;
}

.top-container {
  background-color: #ffe8df;
  position: relative;
  padding-top: 100px;
  /* box-sizing: border-box; */
}

.middle-container {
  background-color: #ffffff;
}

.bottom-container {
  background-color: #ffe8df;
  padding: 50px 0;
}

.top-star {
  position: absolute;
  top: 8%;
  right: 27%;
}

.bottom-star {
  position: absolute;
  left: 28%;
  bottom: 44%;
}

.skills {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}

.skill-row {
  /* width: 50%; */
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.profile {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}

.profile-img {
  height: 200px;
  border-radius: 100%;
}

.contact-me {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}

.contact-btn {
  background: #FFC3AC;
  background-image: linear-gradient(to bottom, #FFC3AC, #FFB79B);
  border-radius: 10px;
  color: #5D5B5B;
  padding: 2px 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-btn:hover {
  border: solid #FFFFFF 0px;
  background: #FFE8DF;
  background-image: linear-gradient(to bottom, #FFE8DF, #FFE8DF);
  border-radius: 10px;
  text-decoration: none;
}

.footer-link {
  margin-right: 20px;
  text-decoration: none;
}

.footer-sign {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
